/*Ng-select styles start*/
/*Ng-select styles end*/
/*
 * Custom styles.
 */

/*@media not all and (min-resolution:.001dpcm) {*/
/*  @supports (-webkit-appearance:none) and (stroke-color:transparent) {*/
/*    .modal-open{*/
/*      position: fixed !important;*/
/*      width: 100vw;*/
/*      height: 100vh;*/
/*    }*/
/*    .modal-open .modal{*/
/*      position: fixed !important;*/
/*    }*/
/*    .modal-open input:focus, .modal-open input {*/
/*      color: transparent !important;*/
/*      text-shadow: 0 0 0 black !important;*/
/*      caret-color: transparent !important;*/
/*    }*/
/*  }*/
/*}*/
/*@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {*/
/*  @media {*/
/*    .modal-open {*/
/*      position: fixed !important;*/
/*      width: 100vw;*/
/*      height: 100vh;*/
/*    }*/

/*    .modal-open .modal {*/
/*      position: fixed !important;*/
/*    }*/

/*    .modal-open input:focus, .modal-open input {*/
/*      color: transparent !important;*/
/*      text-shadow: 0 0 0 black !important;*/
/*      caret-color: transparent !important;*/
/*    }*/
/*  }*/
/*}*/

/*Цветовые настройки start*/

/*Фоновая картинка*/
.users-bg{
  background-image: url("https://oboi.ws/wallpapers/26_7804_oboi_predgore_2560x1600.jpg");
}
/*БГ Юзера*/
.chat-content .media.author .msg-wrapper{
  background-color: #f5f6f8;
}
/*Бордер Юзера*/
.chat-content .media.author .msg-wrapper{
  border: 1px solid #f5f6f8;
}

/*БГ Манагера*/
.chat-content .msg-wrapper{
  background-color: #d4e6fe;
}

/*Бордер Манагера*/
.chat-content .msg-wrapper{
  border: 1px solid #d4e6fe;
}
/*Цвет логина*/
.chat-group .media-body h6{
  color: #13336a;
}
/*Цвет текста сообщения*/
.chat-group .media-body p{
  color: #495057;
}

/*Цветовые настройки end*/

.spinner-border{
  color: #33b4ff;
}
.hidden{
display: none;
}
/*.chat-group{*/
/*    background: url("/assets/img/chat-brand.png");*/
/*}*/
img.brand-logo{
  max-width: 120px;
  height: 120px;
}
.ng-select.custom .ng-clear-wrapper{
  top: 1px;
}
.ng-select.custom .ng-clear-wrapper .ng-clear{
  font-size: 20px;
}
* {
  box-sizing: border-box;
}
button:focus{
  outline: 0;
}
img {
  max-width: 100%;
}
.modal-content .close:focus{
  outline: none !important;
}
/*
 * Checkbox & toggler styles start.
 */
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #10b759;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #10b759;
}
.custom-checkbox>input:not(:disabled):active+span::before {
  background-color:#10b759;
  border-color: #10b759;
}
.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #10b759;
}
.custom-checkbox>input:checked+span::before {
  border-color: #10b759;
  background-color: #10b759;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}
.feather-toggle-right{
  color: #0d9448 !important;
}
.feather-toggle-right circle{
  fill: #0d9448;
}
.feather-toggle-left{
  color: #ccc !important;
}
.feather-toggle-left circle{
  fill: #ccc;
}
/*
 * Checkbox & Toggler styles end.
 */
/*.aside-logo:before{*/
/*  content: '';*/
/*  background: url("/assets/cabinet-logo.svg") no-repeat;*/
/*  background-size: contain;*/
/*  position: absolute;*/
/*  top: 7px;*/
/*  left: -30px;*/
/*  width: 25px;*/
/*  height: 25px;*/
/*}*/
.cabinet-logo{
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
  left: -5px;
}
.aside-logo{
  font-size: 20px !important;
  position: relative;
  cursor: default;
  display: flex;
}
.footer-logo-static{
  position: fixed;
  left: 0;
  right: 0;
  top: 93%;
}
.chat-member-list-scroll{
  overflow-y: auto;
  height: calc(100vh - 170px);
}
.chat-content-footer{
  border-bottom: 1px solid rgba(72, 94, 144, 0.16) !important;
}
@media screen and (min-width: 992px) {
  .version{
    z-index: 3;
  }
  .chat-sidebar-right{
    height: 100vh;
    z-index: 1;
  }
  .chat-content-footer{
    z-index: 2;
  }
  .footer-logo-static{
    display: none !important;
  }
  .places-list-tooltip {
    display: none !important;
  }
  .cabinet-main-menu .aside-header{
    justify-content: flex-end !important;
  }
  .aside.minimize .aside-header{
    justify-content: center !important;
  }
  .cabinet-main-menu .aside-header .aside-logo{
    margin-right: 10px;
  }

}
.btn i-feather{
  height: auto !important;
}
#placesList i-feather{
  margin-right: 8px;
  width: 30px;
}
.table th, .table td{
  vertical-align: middle !important;
}
.table-toggler-cell-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: 0 auto;*/
  /*max-width: 170px;*/
  /*width: 170px;*/
}
.table-toggler-text{
  width: 140px;
  text-align: center;
}
.modal-dialog{
  min-width: 60%;
}
.tab-content{
  padding-top: 20px;
}
.modal-delete-button-position{
  position: relative;
  top: 28px;
}
.modal-active-checkbox-position span::before{
  margin-right: 0 !important;
  margin-top: 10px !important;
}
.table-toggler-cell-container i-feather{
  margin-left: 13px;
  cursor: pointer;
}
.card-title, .nav-chat .nav-link, .chat-group .media-body h6{
  word-break: break-word;
}
.card:hover, .card:focus, .card:active{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.33s;
  outline: 0;
}
.card .cms-actions{
  position: relative;
  left: 13px;
}
.card{
  transition: all 0.33s;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  height: 100%;
}
.card-text-eclipse{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  height: 59px;
}
.font-13{
  font-size: 13px !important;
}
.font-14{
  font-size: 14px !important;
}
.font-18{
  font-size: 18px !important;
}
.font-20{
  font-size: 20px !important;
}
.font-28{
  font-size: 28px !important;
}
.qrcode canvas{
  margin: 0 auto;
  display: block;
}
.content-body{
  min-height: 100vh;
}
.height-100vh{
  height: 100vh;
}
@media print {
  .modal.show{
    position: relative !important;
    top: 0;
  }
  .btn, .modal-backdrop, .content-body, .modal-footer, .close, .aside-header{
    display: none !important;
  }
  .modal-content{
    border: none !important;
  }
  .modal-dialog{
    min-width: 100%;
    /*min-height: 100%;*/
    /*height: 100vh;*/
    /*margin: 0;*/
  }
}
.custom-badge-size{
  border-radius: 100%;
  width: 21px !important;
  height: 21px !important;
  padding: 0 !important;
}
.custom-badge-size p{
  line-height: 21px;
  margin-bottom: 0 !important;
  min-width: 21px;
  text-align: center;
}
.chat-sidebar.aside{
  left: 0;
}
.no-chat-qr-scan-link{
  background: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -240px;
  transition: all 0.33s;
}
.chatMenuToggled .no-chat-qr-scan-link{
  margin-left: -60px;
  transition: all 0.33s;
}
.no-chat-qr-scan-link a, .no-chat-qr-scan-link a:hover, .no-chat-qr-scan-link a:focus{
  color: #000;
  text-align: center;
}
.aside-fixed .aside-body{
  height: 100vh;
}
.nav-chat .nav-link{
  margin-left: 8px;
}
.nav-link:before{
  display: none !important;
}
.login .alert-danger{
  background: transparent;
  color: #fff;
  border: none;
}

.chat-sidebar-right .avatar-block img{
  cursor: pointer;
  margin: 0 auto;
  display: block;
  max-height: 120px;
  max-width: 120px;
}
.chat-sidebar-right .avatar-block{
  align-items: center;
  flex-direction: column;
}
.avatar-block .btn{
  display: none;
}
/*.subscribe-checkbox-position.custom-checkbox>span::before{*/
/*  position: relative;*/
/*  top: -9px;*/
/*}*/
.subscribe-toggler-container{

}
/*User Chat Toggle Start*/
.chat-app-custom .chat-aside-body{
  position: relative;
  padding: 25px;
  height: calc(100% - 59px);
  border-top: 1px solid rgba(72, 94, 144, 0.16);
  border-right: 1px solid rgba(72, 94, 144, 0.16);
  background-color: #fff;
}
.chat-app-custom .chat-aside-body .chat-sidebar-body{
  top: 0;
}
.chat-app-custom .cabinet-main-menu{
  transition: all 0.33s;
}
.chatMenuToggled .cabinet-main-menu{
  transform: translateX(-180px);
  transition: all 0.33s;
}
.chatMenuToggled .chat-sidebar-body,
.chatMenuToggled .aside-logo,
.chatMenuToggled .chat-sidebar-footer{
  opacity: 0;
  /*transition: all 0.33s;*/
}
.chatMenuToggled .cabinet-logo{
  display: none;
}
.chatMenuToggled .aside-fixed + .content{
  margin-left: 60px;
  transition: all 0.33s;
}
.chat-app-custom .aside-fixed + .content{
  transition: all 0.33s;
}
.chat-content-header .fa-arrow-left{
  position: relative;
  top: 1px;
}
@media screen and (max-width: 992px) {
  .chat-group{
    min-height: calc(100% - 60px);
    top: 60px;
    position: relative;
  }
  .chatMenuToggled .no-chat-qr-scan-link, .no-chat-qr-scan-link{
    margin-left: 0;
  }
  .chat-app-custom .no-chat-qr-scan-link{
    padding: 20px;
  }
  .chat-app-custom .aside, .chat-app-custom .aside-header{
    transform: translateX(0);
  }
  .chatMenuToggled .cabinet-main-menu{
    transform: translateX(-240px);
    transition: all 0.33s;
  }
  .chatMenuToggled .chat-aside-body{
    transform: translateX(-60px);
    transition: all 0.33s;
  }
  .chat-wrapper{
    background: transparent;
  }
  .chatMenuToggled .chat-wrapper{
    width: 100%;
    margin-left: 0;
  }
  .chat-content-header{
    /*top: 60px;*/
    width: calc(100% - 55px);
    margin-left: 55px;
  }
  .chat-wrapper{
    top: 0;
  }
  .aside-header{
    height: 60px;
    transform: translateX(55px);
    transition: all 0.33s;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  }
  .manager-aside.aside-header{
    width: 250px;
    transform: translateX(45px) !important;
  }
  /*.chat-content-header{*/
  /*  width: 100vw !important;*/
  /*  margin-left: 0 !important;*/
  /*}*/
  .no-chat-qr-scan-link{
    top: 60px;
    position: relative;
  }
  .chatMenuToggled .aside-header{
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  }
  .chat-app-custom .aside-header {
    height: 60px;
  }
  .chatMenuToggled .aside-header{
    left: 85px;
    position: absolute;
  }
  .chat-app-custom .backdrop{
    visibility: visible;
    opacity: 1;
    z-index: -1;
    top: -60px;
    height: calc(100vh + 60px);
    width: calc(100vw + 560px);
  }
  .chatMenuToggled .backdrop{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: -60px;
    width: calc(100vw + 560px);
  }
  .chat-sidebar-body{
    top: 0;
  }
  /*.chat-sidebar-body .flex-fill{*/
  /*  margin-top: 60px;*/
  /*}*/
  .chat-content-header h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100vw - 80px);
    /*padding-right: 10px;*/
  }
  .aside.minimize + .content{
    margin-left: 0 !important;
  }
  .custom-menu-top-positon{
    margin-left: 60px;
  }
}
@media screen and (max-width: 767px) {
  .custom-menu-top-positon{
    margin-top: 60px;
    margin-left: 0;
  }
}
@media screen and (min-width: 992px) {
  .chat-app-custom .aside-fixed + .content {
    margin-left: 240px !important;
  }
  .chatMenuToggled .aside-fixed + .content {
    margin-left: 60px !important;
  }
}
/*User Chat Toggle End*/
.cursor-pointer{
  cursor: pointer;
}
.profile-textarea{
  min-height: 75px !important;
}
@media (min-width: 992px) {
  .content-body {
    padding: 15px 25px 25px 25px;
  }
}
.msg-wrapper img{
  width: 100%;
}
/*.media{*/
/*  align-items: flex-end !important;*/
/*}*/
@media (max-width: 480px) {
  .nav-tabs.nav{
    display: block;
    border-bottom: none
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-link{
    border: 1px solid #cdd4e0;
    border-radius: 3px;
  }
  .nav-tabs .nav-item{
    margin-bottom: 15px;
    margin-left: 0 !important;
  }
  .nav-tabs .nav-item:last-child{
    margin-bottom: 0;
  }
  .chat-content .msg-wrapper{
    width: 80%;
  }
  .media .avatar{
    display: none;
  }
  .chat-sidebar-right .media .avatar{
    display: block;
  }
  .chat-group .media-body {
    margin-left: 0;
  }
}
/*Main menu toggler start*/
.mainMenuToggled{
}
.chat-sidebar{
  max-width: 240px;
}
.mainMenuToggled .aside {
  width: 240px !important;
  transform: translateX(-180px);
  transition: all 0.33s;
}
.aside, .chat-wrapper-two .chat-content, .mainMenuToggled .aside + .content, .aside + .content{
  transition: all 0.33s;
}
.mainMenuToggled .aside .aside-header {
  width: 240px;
  /*padding: 0;*/
  justify-content: center;
}

.mainMenuToggled .aside .aside-logo,
.mainMenuToggled .aside .aside-loggedin-user {
  display: none;
}

.mainMenuToggled .aside .aside-body {
  width: 240px;
  padding: 20px 18px;
  /*transition: none;*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mainMenuToggled .aside-loggedin{
  width: max-content;
}
.mainMenuToggled .nav-aside{
  width: 22px !important;
}
@media (prefers-reduced-motion: reduce) {
  .mainMenuToggled .aside .aside-body {
    transition: 0.33s;
  }
}

/*.mainMenuToggled .aside .aside-alert-link {*/
/*  opacity: 0;*/
/*  visibility: hidden;*/
/*  position: fixed;*/
/*}*/

.mainMenuToggled .aside .aside-loggedin {
  margin-bottom: 5px;
}

.mainMenuToggled .aside .aside-loggedin .avatar {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  margin-left: -4px;
}

.mainMenuToggled .aside .nav-aside {
  width: 100%;
  flex-wrap: nowrap;
}

.mainMenuToggled .aside .nav-aside .nav-label,
.mainMenuToggled .aside .nav-aside .nav-item ul,
.mainMenuToggled .aside .nav-aside .with-sub .nav-link::after {
  display: none;
}

.mainMenuToggled .aside .nav-aside .nav-link::before {
  right: auto;
  left: -20px;
}

.mainMenuToggled .aside .nav-aside .nav-link span {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  margin-left: 31px;
}

.mainMenuToggled .aside .nav-aside .nav-label + .nav-item {
  position: relative;
}

.mainMenuToggled .aside .nav-aside .nav-label + .nav-item::before {
  content: '';
  display: block;
  border-top: 1px solid rgba(72, 94, 144, 0.16);
  margin: 8px 0;
}

.mainMenuToggled .aside .nav-aside svg {
  margin-right: 0;
}

.mainMenuToggled .aside + .content {
  margin-left: 60px;
}
@media (min-width: 992px) {
  .aside + .content {
    margin-left: 240px;
  }
}
.mainMenuToggled .placelist-top-fixed{
  width: calc(100% - 90px);
}

@media (max-width: 992px) {
  .mainMenuToggled .aside{
    transform: translateX(0);
  }
  .mainMenuToggled .cabinet-main-menu .aside-header{
    border-bottom: none;
  }
  .mainMenuToggled .aside .aside-logo,
  .mainMenuToggled .aside .aside-loggedin-user {
    display: flex;
  }
  .mainMenuToggled .aside .nav-aside .nav-label,
  .mainMenuToggled .aside .nav-aside .nav-item ul,
  .mainMenuToggled .aside .nav-aside .with-sub .nav-link::after {
    display: flex;
  }
  .mainMenuToggled .aside-header{
    transform: translateX(0) !important;
    height: 59px;
  }
  .mainMenuToggled .aside-loggedin, .mainMenuToggled .nav-aside{
    width: 100% !important;
  }
  .aside-logo{
    margin-right: 10px;
  }
  .chat-app-custom .aside-header{
    justify-content: flex-end;
  }
  .mainMenuToggled .aside .nav-aside .nav-link span{
    opacity: 1;
    visibility: visible;
  }
  .mainMenuToggled .aside .aside-header{
    justify-content: flex-end;
    padding: 0 18px;
  }
  .mainMenuToggled .backdrop{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: -60px;
    height: calc(100vh + 60px);
    width: calc(100vw + 560px);
  }
}

@media (min-width: 992px) {
  .mainMenuToggled .aside .aside-alert-link {
    opacity: 0;
    visibility: hidden;
    position: fixed;
  }
  .chat-wrapper-two .chat-content{
    left: 240px !important;
  }
}
/*Main menu toggler end*/
.placelist-top-fixed{
  position: fixed;
  top: 0;
  padding: 20px 20px 20px 0;
  z-index: 1;
  background: #FFF;
  width: calc(100% - 270px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-container{
  padding-top: 20px;
}
@media (max-width: 767px) {
  .placelist-top-fixed, .mainMenuToggled .placelist-top-fixed, .graph-preloader-container{
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  .cards-container {
    padding-top: 90px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .placelist-top-fixed {
    left: 70px;
    width: calc(100vw - 90px);
  }
}
.chat-rating-block{
  justify-content: space-between;
  width: 100%;
  max-width: 370px;
}
.chat-rating-block:focus{
  outline: none;
}
.custom-star-container{
  padding-right: 15px;
}
.chat-rating-block span:last-child .custom-star-container{
  padding-right: 0;
}
.custom-star{
  display: flex;
  font-size: 36px !important;
  color: rgba(72, 94, 144, 0.16) !important;
  opacity: .5;
  line-height: 36px;
  margin-bottom: 10px;
  transition: all 0.33s;
}
.custom-star.filled{
  color: #1e90ff !important;
  opacity: 1;
  transition: all 0.33s;
}
.chat-sidebar-body{
  top: 0 !important;
}
.custom-star-text{
  font-size: 12px;
  color: #1e90ff !important;
}
.rating-comment{
  max-width: 290px;
  margin: 0 auto 20px;
  position: relative;
  right: 7px;
}
.rating-comment input{
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #1e90ff;
  border-left: none;
  padding: 8px;
  width: 100%;
  transition: all 0.33s;
}
.rating-comment input:focus{
  border-bottom: 2px solid #10b759;
  outline: 0;
}
.header-dropdown-mobile{
  position: relative;
}
.header-dropdown-elements-container{
  display: flex;
}
@media (min-width: 992px) {
  .manager-chat-send-buttons-container{
    display: flex;
    min-width: 230px;
  }
  .header-dropdown-mobile .header-dropdown-icon-container, .attach-dropdown-icon-container{
    display: none;
  }
  .square-back-button{
    display: none;
  }
}
@media (max-width: 992px) {
  .header-place-title.user-chat{
    margin-left: 0px;
    width: 100vw;
    padding: 0 15px 0 8px;
  }
  .table-dataresponsive-md tr,
  .table-dataresponsive-md td,
  .table-dataresponsive-md tbody {
    display: block;
    width: auto !important;
  }
  .table-dataresponsive-md td.th-place-title:before{
    content: 'Место';
  }
  .table-dataresponsive-md td.th-param-title:before{
    content: 'параметр';
  }
  .table-dataresponsive-md td.th-daily-title:before{
    content: 'день	';
  }

  .table-dataresponsive-md td.th-weekly-title:before{
    content: 'неделя	';
  }
  .table-dataresponsive-md td.th-month-title:before{
    content: 'месяц';
  }
  .table-dataresponsive-md td:before {
    display: block;
    margin-right: 8px;
    margin-top: -3px;
    text-align: left;
    float: left;
    font-weight: 700;
  }
  .table-dataresponsive-md tr {
    text-align: right;
  }
  .table-dataresponsive-md tr td.buy {
    text-align: center;
  }
  .table-dataresponsive-md thead,
  .table-dataresponsive-md th,
  .vps-table tr:first-child td:after {
    display: none;
  }
  .show-sidebar-right .chat-sidebar-right{
    z-index: 1001;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .chat-sidebar-right > div{
    padding-top: 80px;
  }
  .chat-sidebar-right{
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
  }
  .square-back-button{
    cursor: pointer;
    position: absolute;
    top: -60px;
    left: 60px;
    z-index: 1001;
    background: #FFF;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-left: none;
    border-top: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .no-backdrop{
    position: fixed;
    background: #FFF;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .cabinet-component .all-places-custom-position{
    top: 70px;
    position: relative;
    height: calc(100% - 110px);
  }
  .hidedropdown .header-dropdown-elements-container, .hidedropdown .attach-dropdown-elements-container{
    opacity: 0;
    visibility: hidden;
    transition: all 0.33s;
  }
  .header-dropdown-elements-container{
    top: 40px;
    left: -13px;
  }
  .attach-dropdown-elements-container{
    top: -73px;
    left: -10px;
  }
  .header-dropdown-elements-container, .attach-dropdown-elements-container{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 8px;
    background: #FFF;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transition: all 0.33s;
  }
  /*.chat-sidebar-footer{*/
  /*    align-items: center !important;*/
  /*    height: 110px;*/
  /*    background: #FFF;*/
  /*}*/
  .chat-sidebar{
    max-width: 100%;
  }
  /*.mobile-nav-element:first-child{*/
  /*  padding-top: 0;*/
  /*}*/
  /*.mobile-nav-element, .profile-nav-element{*/
  /*  padding-top: 15px;*/
  /*}*/
  .mobile-nav-element p{
    color: #000;
  }
  /*.mobile-nav-element i-feather, .mobile-nav-element i{*/
  /*    padding-right: 15px !important;*/
  /*    color: #000;*/
  /*    margin-left: 6px;*/
  /*}*/
  /*.mobile-nav-element{*/
  /*  display: block !important;*/
  /*}*/
  .attach-dropdown-icon-container .fa-paperclip{
      font-size: 19px;
      color: #8392a5;
  }
  .mobile-chat-content-header .header-place-title{
    /*margin-left: 60px;*/
  }
  .mobile-chat-content-header{
    padding: 15px 15px 10px !important;
    position: absolute;
    top: 60px;
    /*height: 60px;*/
    background: #FFF;
    z-index: 1;
    left: -55px;
    right: 0;
    width: 100vw !important;
    align-items: flex-start !important;
    justify-content: center !important;
    flex-direction: column;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  }
  .chat-app-custom .mobile-chat-content-header {
    height: 60px;
  }
  .chat-content-header.custom-flex-end{
    justify-content: flex-end !important;
  }
  #directTitle{
    margin-top: 15px;
    /*margin-left: 60px;*/
  }
  .custom-star-container{
    padding-right: 8px !important;
  }
}
/*User chat QR button in menu start*/
#btnQR.mobile-nav-element{
  /*display: none;*/
}
.chat-sidebar-footer{
  align-items: center !important;
  height: 110px;
  background: #FFF;
}
.mobile-nav-element:first-child {
  padding-top: 0;
}
.mobile-nav-element {
  display: block !important;
}
.mobile-nav-element, .profile-nav-element {
  padding-top: 15px;
}
.mobile-nav-element i-feather, .mobile-nav-element i {
  padding-right: 15px !important;
  color: #000;
  margin-left: 6px;
}
/*User chat QR button in menu end*/
.chat-content.no-left{
  left: 0 !important;
}
.chat-group .media-body {
  margin-left: 8px !important;
}
.rating-modal-img-container .card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-modal-img-container svg{
  max-width: 50px;
  width: 100%;
}
.mobile-chat-content-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}
.chat-content .msg-wrapper{
  width: auto !important;
  max-width: 60%;
}
.nav-tabs .nav-link{
  padding: 0 15px !important;
}
.edit-places-delete-btn{
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
.edit-places-delete-btn svg{
  color: #dc3545;
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
.attach-dropdown-elements-container{
  width: 62px;
  justify-content: space-between;
}
.nav-aside .nav-link svg{
  position: relative;
  top: -3px;
}
.qr-icon-font-size{
  font-size: 72px !important;
}
.iti__selected-flag,
.iti__selected-flag:hover,
.iti__selected-flag:focus,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag{
  outline: none;
  background: transparent;
}
.custom-menu-top-positon .iti__country-list {
  max-width: 228px;
  overflow-x: hidden;
  padding: 15px 0;
}
.content-body .iti__arrow {
  border-top: 4px solid #555;
}
.content-body .iti__arrow.iti__arrow--up {
  border-top: none !important;
  border-bottom: 4px solid #555;
}
/*Стили отзывов для пристрела*/
.feed-block-header {
  /*background: #3c4154;*/
  background: #33b4ff;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  padding-bottom: 30px;
}
.feed-card-content-position-wrap{
  background: transparent;
  position: relative;
  top: -30px;
}
.feed-company-logo img{
  border-radius: 100%;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}
.feed-company-title{
  color: #FFF;
  font-weight: 700;
}
.feed-company-role, .feed-block-header-hint span{
  /*color: #a0a7b1;*/
  color: #FFF;
}
.feed-block-header-hint p{
  color: #FFF;
}
.feed-hint-text-before-dot, .feed-hint-text-before-star{
  position: relative;
  padding-left: 12px;
}
.feed-hint-text-before-dot:before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 15px;
  left: 3px;
  border-radius: 100%;
  background: #FFF;
}
.feed-hint-text-before-star:before{
  content: '*';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  top: -4px;
  font-size: 19px;
  left: 0;
  color: #FFF;
}
.feed-card-container {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background: #FFF;
  padding: 15px;
}
.feed-card-content-position-wrap > div{
  max-width: 430px;
  margin: 0 auto;
}
.feed-card-container h1{
  font-size: 1.3rem;
  font-weight: 700;
}
.feed-block-page-container{
 background: #f5f5f5;
  height: 100%;
  min-height: 100vh;
}
.feed-send-button,
.feed-send-button:hover,
.feed-send-button:focus{
  /*background: #eb6c65;*/
  background: #33b4ff;
  color: #FFF;
  min-width: 190px;
  height: 50px;
}
.feed-input.rating-comment{
  max-width: 100% !important;
  right: 0 !important;
  margin: 20px auto 0 !important;
}
.feed-input.rating-comment input {
  border-top: none;
  border-right: none;
  /*border-bottom: 2px solid #eb6c65 !important;*/
  border-left: none;
  padding: 8px;
  width: 100%;
  transition: all 0.33s;
}
.feed-input.rating-comment input::placeholder{
  color:  #e6e7e9;
}
.feed-upload-button-container{
  width: 50px;
  height: 50px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}
.feed-upload-button-container a{
  /*border: 1px solid #eb6c65;*/
  border: 1px solid #33b4ff;
  border-radius: 8px;
  /*height: 100%;*/
  /*padding: 0;*/
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-upload-button-container i-feather{
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
}
.feed-upload-button-container svg{
  color: #767988;
  width: 23px;
}
.feed-buttons-agree-hint{
  color: #626264;
  max-width: 190px;
}
.feed-star-rating-text{
  color: #707072;
  text-align: center;
  font-size: 11px;
  margin-top: 7px;
}
.feed-buttons-agree-hint{
  font-size: 11px;
  color: #88888a;
}
.no-border, .no-border:hover, .no-border:focus{
  border: none !important;
  outline: none;
}
.star-svg-container svg{
  width: 100%;
  max-width: 50px;
  min-width: 50px;
}
.star-svg-container.filled svg path{
  fill: #1e90ff !important;
  transition: all 0.33s;

}
.star-svg-container svg path{
  fill: #e6e7e9;
  transition: all 0.33s;
}
.feed-buttons-agree-hint a, .feed-buttons-agree-hint a:hover, .feed-buttons-agree-hint a:focus{
  color: #88888a;
  text-decoration: underline;
}
/*.feed-footer .aside-logo:before{*/
/*  top: -4px;*/
/*  left: -55px;*/
/*  width: 45px;*/
/*  height: 35px;*/
/*}*/
.feed-footer .cabinet-logo{
  width: 75px;
  height: 65px;
  margin-top: 20px;
}
.feed-footer .aside-logo{
  font-size: 18px !important;
}
.webcam-wrapper video{
  width: 100%;
  height: 100%;
}
.webcam-wrapper{
  margin: 40px auto;
  display: flex !important;
  justify-content: center;
  width: 90%;
}
.form-control:focus{
  box-shadow: none !important;
}
.policy p{
  margin-bottom: 1rem !important;
}
.policy ul{
  padding-inline-start: 18px !important;
}
.policy ul li{
  margin-bottom: 8px !important;
}
.modal-content, .modal-header{
  border-radius: .5rem;
}
.modal-header{
  background: #1e90ff;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.modal-content .close {
  color: #FFF;
  opacity: 1 !important;
  top: 3px;
  position: relative;
}
.modal-header h4{
  color: #FFF !important;
}
/*Меню менеджера иконки больше start*/
.nav-aside .nav-item.active, .nav-aside .nav-item{
  transition: all 0.33s;
}
.nav-aside .nav-link{
  margin-bottom: 8px;
}
.aside-loggedin svg {
  width: 20px;
  height: 20px;
}
.aside-alert-link a{
  margin-right: 8px;
}
.aside-alert-link a:last-child{
  margin-right: 0;
}
.nav-aside .nav-item.active i{
  color: #1e90ff;
}
.nav-aside .nav-item i{
  font-size: 24px;
  width: 24px;
  height: 27px;
  text-align: center;
}
.nav-aside .nav-item span{
  font-size: 14px;
  font-weight: 400 !important;
}
.nav-item .featherIcon{
  width: 27px !important;
}
.mainMenuToggled .nav-aside .fa{
  margin-right: 0 !important;
}
/*Меню менеджера иконки больше end*/
@media screen and (min-width: 767px) {
  .feed-block-header{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.tooltip-bar{
  display: none;
}
.area{
  fill: #33b4ff;
}
/*.area*/
.manager-chat-send-buttons-container{
  display: flex;
}
.form-container .invalid-feedback{
  padding: 0 8px 10px 8px;
}
.cabinet-component .chat-sidebar-footer{
  height: 60px;
}
footer.version{
  font-size: 9px;
  padding: 8px 10px !important;
  color: #FFF;
  background: #33b4ff;
  border-radius: 4px;
  margin: 5px;
}
footer.version span{
  margin-left: 10px;
}
footer.version .spinner-border{
  position: relative;
  min-width: 16px;
}
.iti__selected-flag .iti__flag{
  display: none;
}
.iti--separate-dial-code .iti__selected-flag{
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}
.iti__selected-dial-code{
  margin-left: 0 !important;
}
.register-form{
  max-width: 470px !important;
}
.places-card-company-logo img{
  border-radius: 100%;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
.chat-brand-prewiew-block .chat-content{
  left: 0 !important;
  transform: none !important;
  visibility: visible;
  opacity: 1;
}
.chat-brand-prewiew-block .chat-group{
  top: 0 !important;
  padding: 20px 15px;
}
.chat-brand-prewiew-block .users-bg{
  width: 227px;
  top: 5px;
  border-radius: 26px;
  margin: 0 auto;
  max-height: 455px;
}
.chat-brand-prewiew-block .chat-content .msg-wrapper{
  max-width: 100%;
}
.preview-wrap-image{
  object-fit: unset !important;
  z-index: 1;
  position: relative;
  width: 265px !important;
  max-height: 469px;
  margin: 0 auto;
  display: block;
}
.iti{
  overflow-x: hidden !important;
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type=tel],
.iti--allow-dropdown input[type=text],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=tel],
.iti--separate-dial-code input[type=text]{
  padding-left: 52px !important;
}
  @media screen and (max-width: 992px) {
    .tr-pie-chart .pie-chart .chart {
      /*position: absolute;*/
      /*left: 0;*/
      transform: scale(1.5) translate(35%, 35%);
    }
    .pie-chart {
      height: 300px;
    }

    .tr-pie-chart .ngx-charts {
    /*  float: unset;*/
    /*  overflow: visible;*/
    /*  display: flex;*/
    /*  justify-content: center;*/
    /*  width: 1px;*/
    /*  height: 1px;*/
    /*  margin: 0 auto;*/
      position: relative;
      top: 50px;
    }
  }
  /*@media screen and (max-width: 767px) {*/
  /*  .pie-chart {*/
  /*    height: 300px;*/
  /*    max-width: 100%;*/
  /*    display: flex;*/
  /*    justify-content: center;*/
  /*    align-items: center;*/
  /*  }*/

  /*  .tr-pie-chart td:before {*/
  /*    position: absolute;*/
  /*  }*/
  /*}*/
  /*@media screen and (min-width: 768px) and (max-width: 992px) {*/
  /*  .pie-chart {*/
  /*    height: 400px;*/
  /*  }*/

  /*  .tr-pie-chart .ngx-charts {*/
  /*    top: 80px;*/
  /*  }*/
  /*}*/
@media not all and (min-resolution:.001dpcm) {

  @media screen and (max-width: 767px) {
    .pie-chart {
      height: 300px;
    }
  }
  @media screen and (max-width: 992px) {
    .tr-pie-chart .pie-chart .chart {
      transform: scale(1.5) translate(35%, 35%);
    }
    .tr-pie-chart .ngx-charts {
      top: 0 !important;
    }
  }
}
